::-webkit-scrollbar {
  display: none;
}
body {
  height: 100svh;
}
.draw {
  position: relative;
}
.lock-head {
  height: 50px;
  width: 400px;
  border-right: 40px solid #4e4e4e;
  border-left: 40px solid #4e4e4e;
  margin: 50px auto 0;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.move-up {
  top: -20px;
}
.lock-head::after {
  content: "";
  position: absolute;
  top: -41px;
  left: -40px;
  width: 125%;
  height: 100%;
  border-top: 43px solid #4e4e4e;
  border-radius: 10px;
}
.lock {
  background-color: #caa04c;
  border: 53px solid #4e4e4e;
  border-radius: 500px;
  font-size: 70px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.numbers-continer {
  height: inherit;
  gap: 100px;
  position: relative;
}
.numbers-continer::before {
  content: "<";
  position: absolute;
  right: 60px;
  top: 94px;
  color: #000;
}
.numbers-continer::after {
  content: "";
  position: absolute;
  right: 65px;
  top: 137px;
  height: 33px;
  width: 5px;
  background-color: black;
}
.num-col {
  height: inherit;
  overflow-y: scroll;
  text-align: center;
  cursor: n-resize;
  padding-bottom: 105px;
  position: relative;
}
span {
  border: 1px solid #4e4e4e;
  display: block;
  padding: 0 20px;
  height: 100px;
}
h3 {
  margin-bottom: 0;
}
button {
  margin: 5px auto 20px;
  background-color: #caa04c !important;
  border: none;
  display: block !important;
}
@media (max-width: 767px) {
  .lock-head {
    top: 18%;
    width: 300px;
  }
  .lock-head::after {
    width: 137%;
    left: -41px;
  }
  .lock {
    border-width: 20px;
    border-radius: 0;
  }
  .numbers-continer {
    gap: 10px;
  }
  .numbers-continer::before {
    right: -10px;
  }
  .numbers-continer::after {
    right: -5px;
  }
  .move-up {
    top: 16%;
  }
}
@media (max-width: 400px) {
  .lock-head {
    top: 14.5%;
  }
  .move-up {
    top: 10%;
  }
}
